# ignore all logs
*.log

# Mac OS files
*.DS_Store

# ignore env repository
**/venv
**/venv2
**/target
**/out
**/metastore_db
**/test
**/.idea

# ignore those repositories
imsi_churn/
imsi_churn_rf/
scalahelloworld/
sparktraining/src/main/java/
sparktraining/src/main/resources/

# ignore file
*.iml

# ignore temporary projects
BestRoute/
